@charset "UTF-8";
/*--variables--*/
/*--mixins--*/
/* -- paramètre de page ---- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 2%;
}

/* ---police du site---- */
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/Shrikhand-Regular.ttf");
}
/*----header---*/
h1 {
  font-family: "Shrikhand";
  text-align: center;
}

/*--section explorer nos restaurants--*/
.barrelocalisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(180deg, #c5c5c5 0%, #eaeaea 5%);
  padding: 15px;
}
.barrelocalisation_icon {
  padding-right: 20px;
}
.barrelocalisation_text {
  color: #4d4d4d;
  font-weight: bold;
}

.explorer {
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 25px 0;
  background-color: #f6f6f6;
}
.explorer_titre {
  font-size: 150%;
  font-weight: bold;
  padding-top: 45px;
  text-align: center;
}
.explorer_sous-titre {
  margin: 25px;
  text-align: center;
}
.explorer_bouton {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background: #dc6eda;
  background: linear-gradient(175deg, #dc6eda 0%, #9356dc 120%);
  padding: 10px;
  width: 220px;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  color: #ffffff;
}

/*--section fonctionnement--*/
/*--section fonctionnement--*/
.choixrestau,
.compomenu {
  display: flex;
  align-items: center;
  height: 78px;
  width: 329px;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
}

.degustrestau {
  background-color: #f5edff;
}

#sectionfonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#sectionfonctionnement h2 {
  margin: 55px 0 32px -110px;
}

.circleicon1,
.circleicon3 {
  height: 20px;
  width: 20px;
  color: white;
  background-color: #9356dc;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.choixrestau i,
.choixrestau p,
.compomenu p,
.degustrestau i,
.degustrestau p {
  margin-left: 20px;
}

.circleicon2 {
  margin-right: 25px;
}

/*--section restaurants*/
#sectionrestaurant {
  display: flex;
  flex-direction: column;
  height: 1230px;
  background-color: #f6f6f6;
}

#sectionrestaurant h2 {
  margin-top: 60px;
  margin-left: 20px;
}

.cartemenil {
  width: 335px;
  height: 253px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.24rem;
  box-shadow: 0 0 16px #0000002e;
}

.cartemenil img {
  width: 335px;
  height: 176px;
  object-fit: cover;
  background: no-repeat;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.menilmontant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartemenil h3 {
  margin: 5px 0 -10px 10px;
  color: black;
}

.cartemenil p {
  padding-left: 10px;
  color: black;
}

.newtext {
  color: #269e80;
  margin-left: 220px;
  margin-top: -240px;
  width: 80px;
  height: 31px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.cartemenil a {
  text-decoration: none;
}

/*--heart cartes menil & cité & méricourt--*/
.cartemenil i,
.cartecite i,
.cartemericourt i {
  margin-left: 290px;
  margin-top: -50px;
}

/*---------------------*/
.cartecharonne {
  width: 335px;
  height: 253px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.24rem;
  box-shadow: 0 0 16px #0000002e;
}

.cartecharonne img {
  width: 335px;
  height: 176px;
  object-fit: cover;
  background: no-repeat;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.cartecharonne h3 {
  margin: 5px 0 -10px 10px;
  color: black;
}

.cartecharonne p {
  padding-left: 10px;
  color: black;
}

.newtext {
  color: #269e80;
  margin-left: 220px;
  margin-top: -240px;
  width: 80px;
  height: 31px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.cartecharonne i {
  margin-left: 290px;
  margin-top: -50px;
  color: #b561db;
}

.cartecharonne a {
  text-decoration: none;
}

/*--margin carte menilmontant & charonne--*/
.charonne,
.citerouge {
  margin-top: 220px;
}

/*------------------*/
.cartecite {
  width: 335px;
  height: 253px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.24rem;
  box-shadow: 0 0 16px #0000002e;
}

.cartecite img {
  width: 335px;
  height: 176px;
  object-fit: cover;
  background: no-repeat;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.cartecite h3 {
  margin: 5px 0 -10px 10px;
  color: black;
}

.cartecite p {
  padding-left: 10px;
  color: black;
}

.cartecite a {
  text-decoration: none;
}

.cartemericourt {
  width: 335px;
  height: 253px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.24rem;
  box-shadow: 0 0 16px #0000002e;
}

.cartemericourt img {
  width: 335px;
  height: 176px;
  object-fit: cover;
  background: no-repeat;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.mericourt {
  margin-top: 15px;
}

.cartemericourt h3 {
  margin: 5px 0 -10px 10px;
  color: black;
}

.cartemericourt p {
  padding-left: 10px;
  color: black;
}

.cartemericourt a {
  text-decoration: none;
}

/*--Footer--*/
#piedpage {
  height: 198px;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.logo h2,
.line1,
.line2,
.line3,
.line4 {
  color: white;
  margin-bottom: -5px;
}

#piedpage i {
  margin-right: 15px;
}

.logo {
  margin-top: -30px;
}

.line1,
.line2,
.line3,
.line4 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: -20px;
}

/*# sourceMappingURL=index.css.map */
