@mixin shadow($value: 0%) {
  box-shadow: 3px 3px 14px 0px darken(#a7a7a7, $value);
}

@mixin heart-full {
  font-size: 1.35rem;
      transform: scaleY(1.02);
      position: relative;
      z-index: 1;
      font-weight: 100 !important;
      transition: 400ms;
      color: black;

      &:hover 
      {
        color:$color-background;
      }

      &-full {
        font-size: 1.35rem;
        transform: scaleY(1.02);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        font-weight: 900 !important;
        z-index: -1;
        opacity: 0;
        transition: 600ms;
        @include heart-gradient;
      }
    }


@mixin text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


@mixin heart-gradient {
  background: rgb(147, 86, 220);
  background: -webkit-linear-gradient(
    350deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin green-hover {
  cursor: pointer;
  background-color: $color-primary-lighten;
}