@import "./_variables";
@import "./_mixins";
@import "./_breakpoints";
@import "./_animations";
@import "./_base";
@import "./_header";
@import "./_home";
@import "./_restaurants";
@import "./_footer";

/* -- paramètre de page ---- */

html {
  scroll-behavior: smooth;
}

/* ---police du site---- */

body {
  font-family: "Roboto";
}

/*----header---*/

h1 {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  margin: 2px 0 2px 0;
}

/*--section explorer nos restaurants--*/

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(180deg, #c5c5c5 0%, #e6e6e6 15%);
  padding: 15px;

  &_icon {
    padding-right: 20px;
  }

  &_text {
    color: $color-text;
    font-weight: bold;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 25px 0;
  background-color: #f3f3f3;

  &_title {
    font-size: 150%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &_sub-title {
    margin: 25px;
    text-align: center;
    color: grey;
  }

  &_button {
    border-radius: 30px;
    transform: scale(1);
    transition: transform 400ms;
    background: $color-secondary;
    background: linear-gradient(
      175deg,
      $color-secondary 0%,
      $color-primary 98%
    );
    padding: 10px;
    width: 220px;
    @include shadow;

    &_a {
      text-decoration: none;
      color: $white;
      margin-left: 30px;
    }
  }
}
.title_menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*--section fonctionnement--*/

.list-header {
  display: flex;
  justify-content: left;
  padding: 20px 0 0 20px;
  font-weight: bold;
  font-size: 20px;

  @include tablets {
    justify-content: center;
  }
}

.instruction-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 40px auto;
  padding: 20px;
  list-style-type: none;

  @include tablets {
    flex-direction: row;
    width: 90%;
    max-width: 1024px;
  }

  &_icon {
    padding: 0 10px 0 0;
    color: grey;
  }

  & li {
    counter-increment: step-counter;
    margin-bottom: 20px;
    background-color: $color-background;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 400ms;
    @include shadow;

    @include tablets {
      margin: 0 15px;
      width: 80%;
      max-width: 255px;
    }

    &::before {
      content: counter(step-counter);
      margin-right: 20px;
      margin-left: -30px;
      font-size: 80%;
      background-color: $color-primary;
      color: $white;
      font-weight: bold;
      padding: 3px 8px;
      border-radius: 20px;
    }

    &:hover {
      color: $color-text;
      @include shadow(30%);
    }
  }
}

/* Section Restaurants */

.restaurants {
  margin: 0px;
  padding: 40px 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-background;

  @include tablets {
    padding: 40px 10%;
    max-width: 1100px;
    margin: 0 auto;
  }

  &_header {
    display: flex;
    flex-basis: 100%;
    justify-content: left;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 20px;

    @include tablets {
      justify-content: center;
    }
  }
}

.restaurants_btn {
  background-color: $white;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 20px auto;
  position: relative;
  text-decoration: none;
  color: initial;
  @include shadow;

  @include tablets {
    width: 45%;
    max-width: 480px;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
  }

  & .new {
    position: absolute;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    padding: 5px 20px;
    border-radius: 3px;
    top: 12px;
    right: 12px;
  }

  & .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_text {
      margin-left: 10px;

      > p:first-child {
        font-weight: bold;
        margin-bottom: -10px;
      }
    }

    /*coeur à inclure*/

  }
}

/* Pied de page */

.footer-container {
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: darken($color-background, 70%);

  &_logo {
    font-family: "Shrikhand", cursive;
    color: #f4f4f4;
    font-size: 140%;
    padding-bottom: 15px;
  }

  &_link {
    text-decoration: none;
    padding-top: 10px;
    color: $white;
  }

  &_icon {
    padding-right: 15px;
    width: 15px;
  }
}
